# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno
.env
.env*.local
!.env.example

# Build/dist folders
dist/
build/
out/

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db 